<!-- <div class="btn-group-vertical">
  <div class="d-flex flex-column-reverse bd-highlight">
    <div class="p-2 bd-highlight">
        <a href="median" class="list-group-item list-group-item-action">Median graph</a></div>
    <div class="p-2 bd-highlight">
        <a href="line_chart" class="list-group-item list-group-item-action">Line-chart Graph</a></div>
    <div class="p-2 bd-highlight">
        <a href="heatmap" class="list-group-item list-group-item-action">Heatmap Graph</a></div>
  </div>
</div>
 -->


<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
<div class="btn-group me-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary">        
        <a href="median" class="list-group-item list-group-item-action">Median graph</a>
    </button>
    <button type="button" class="btn btn-primary">        
        <a href="line_chart" class="list-group-item list-group-item-action">Line-chart Graph</a>
    </button>
    <button type="button" class="btn btn-primary">        
        <a href="heatmap" class="list-group-item list-group-item-action">Heatmap Graph</a>
    </button>
    <button type="button" class="btn btn-primary">        
        <a href="graph_3d" class="list-group-item list-group-item-action">3d Scatter Graph</a>
    </button>
</div>
